/* Solar page specific styles */
.scene {
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.sun {
  width: 300px;
}

.cloud {
  position: absolute;
  width: 100px;
  cursor: pointer;
  transition: opacity 0.5s, transform 0.5s;
  z-index: 2;
}

.cloud:hover {
  transform: scale(1.1);
}